.consumables-container {
  width: 100%;
  min-width: 0;
}
.consumables-container h3 {
  margin: 20px 0;
}

.consumables-title {
  position: relative;
  height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px 0;
  color: #fada27;
  background-color: rgb(91, 160, 198);
}

.consumables-title span {
  font-style: italic;
  font-size: 28px;
}

.consumables-title img,
.consumables-title svg {
  position: absolute;
}

.consumables-title img:nth-of-type(1) {
  left: -10px;
}

.consumables-title svg {
  left: 55px;
}

.consumables-title img:nth-of-type(2) {
  right: 0;
}

.color-opt-container,
.surface-opt{
  display: grid;
  grid-template-columns: repeat(auto-fill, 135px);
  justify-content: space-between;
  grid-gap: 20px;
  margin: 0 20px 0 0;
  max-width: 1250px;
}

.color-opt {
  position: relative;
  width: 135px;
  height: 135px;
}

.color-opt span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 11px;
  font-weight: bold;
  white-space: nowrap;
}

.color-opt:nth-child(1) span {
  color: #f00;
}

.color-opt:nth-child(2) span {
  color: #ff7816;
}

.color-opt:nth-child(3) span {
  color: #fada27;
}

.color-opt:nth-child(4) span {
  color: #80d957;
}

.color-opt:nth-child(5) span {
  color: #429cff;
}

.color-opt:nth-child(6) span {
  color: #3c5a99;
}

.color-opt:nth-child(7) span {
  color: #d282e9;
}

.color-opt:nth-child(15) span {
  color: #ff66c4;
}

.color-opt:nth-child(9) span {
  color: #f8d06f;
}

.color-opt:nth-child(10) span {
  color: #b3b3b3;
}

.color-opt:nth-child(11) span {
  color: #d5701b;
}

.color-opt:nth-child(12) span {
  color: #ffd26d;
}

.color-opt:nth-child(13) span {
  color: #ededed;
}

.color-opt:nth-child(14) span {
  color: #aaaaaa;
}

.color-opt:nth-child(15) span {
  color: #272727;
}

.color-opt-container .color-opt {
  cursor: pointer;
}

.color-bg-gif {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  display: none;
}

.color-opt-container .color-opt:hover .color-bg-gif {
  display: block;
}

.color-opt-container .color-opt:hover span {
  color: #fff;
}

.surface-opt .color-opt img {
  width: 100%;
}

.surface-opt .color-opt span {
  color: #fff;
}

.filament-material-opt,
.resin-material-opt {
  gap: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 224px);
  justify-content: space-between;
  grid-gap: 20px;
  margin: 0 20px 0 0;
  max-width: 1250px;
}

.filament-material-opt button,
.resin-material-opt button {
  border: 5px solid #d9d9d9;
  background-color: #ededed;
  width: 224px;
  height: 80px;
  cursor: pointer;
  font-size: 10px;
}

.filament-material-opt button:hover,
.resin-material-opt button:hover {
  color: #fff;
  border: 4px solid #1e5999;
  background-color: #54b3dc;
  box-shadow: 5px 5px 0 0 #1e5999;
}

.filament-material-opt button:active,
.resin-material-opt button:active {
  transform: translate(5px, 5px);
  box-shadow: 0 0 0 0 #1e5999;
}

.swiper-container {
  width: 100%;
  padding: 0 32px 0 0;
}

.swiper {
  padding: 0 28px;
  width: 100%;
  height: 200px;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 150px;
  aspect-ratio: 1/1;
}

.swiper-slide .slide-item-wrapper {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  width: 150px;
  height: 150px;
}

.swiper-slide .slide-item-wrapper img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 950px) {
  .consumables-container .consumables-title span {
    font-size: 20px;
  }
}

@media screen and (max-width: 720px) {
  .consumables-container .consumables-title span {
    font-size: 15px;
  }
}

@media screen and (max-width: 640px) {
  .main-content {
    grid-template-columns: auto;
  }

  .consumables-container .consumables-title {
    width: 98%;
    margin-left: auto;
  }

  .consumables-container .consumables-title .banner-icon {
    transform: scale(0.9);
    left: -15px;
  }

  .color-opt-container,
  .surface-opt,
  .filament-material-opt,
  .resin-material-opt {
    width: 98%;
    justify-content: center;
  }

  .consumables-container h3 {
    margin: 20px 0 20px 20px;
  }

  .swiper-container {
    margin: 10px auto;
    padding: 0;
    width: 95%;
  }
}

@media screen and (max-width: 385px) {
  .consumables-container .consumables-title {
    height: 35px;
  }

  .consumables-container .consumables-title span {
    font-size: 14px;
  }

  .consumables-container .consumables-title .banner-icon {
    transform: scale(0.5);
    left: -37px;
  }

  .consumables-container .consumables-title svg{
    top: -24px;
    left: 8px;
    height: 90px;
  }

  .consumables-container .consumables-title > img:nth-of-type(2) {
    height: 35px;
  }
  
}
