.brand-sidebar{
    margin: 32px 5px 32px 5px;
    font-size: 10px;
}

.sidebar-opt{
    height: 500px;
}

.brand-container{
    margin: 0px 20px 40px 20px;
}

.brand-container .title-banner{
    width: 100%;
    margin: 0 auto 10px auto;
    background: linear-gradient(90deg, rgb(91, 160, 198) 0%, rgb(2, 65, 148) 100%) 0px 0px / 2369.21px 155.858px;
    text-align: center;
    font-size: 29px;
    font-weight: 700;
    font-style: italic;
    color: rgb(250, 218, 39);
}

.title-banner .title-wrapper{
    position: relative;
    display: inline-block;
    padding: 28px 0;
    height: 100%;
}

.title-banner .title-wrapper img{
    position: absolute;
    top: -20px;
    left: -100px;
}

.brand-container h2{
    font-size: 18px;
    margin: 10px 0 20px 0;
}

.brand-wrapper,
.offer-banner{
    display: flex;
    gap: 28px;
    flex-wrap: wrap;
}

.brand-img-wrapper,
.offer-img-wrapper{
    width: 220px;
    height: 220px;
    background-color: #aaaaaa;
}

@media screen and (max-width: 640px) {
    .main-content {
        grid-template-columns: auto;
    }
    
    .browse-category {
        display: none;
    }

    .brand-container {
        margin: 0;
    }

    .brand-container > h3 .title-wrapper {
        padding: 20px 0;
    }

    .brand-container h2 {
        margin: 40px 0 20px 20px;
    }

    .brand-wrapper, .offer-banner {
        justify-content: center;
    }
}

