.brand-container .title-banner{
    width: 100%;
    margin: 0 auto 10px auto;
    background: linear-gradient(90deg, rgb(91, 160, 198) 0%, rgb(2, 65, 148) 100%) 0px 0px / 2369.21px 155.858px;
    text-align: center;
    font-size: 29px;
    font-weight: 700;
    font-style: italic;
    color: rgb(250, 218, 39);
}

.title-banner .title-wrapper{
    position: relative;
    display: inline-block;
    padding: 28px 0;
    height: 100%;
}

.title-banner .title-wrapper img{
    position: absolute;
    top: -20px;
    left: -100px;
}

.brand-container h2{
    font-size: 18px;
    margin: 20px 0 10px 50px;
}

.brand-wrapper,
.offer-banner{
    display: grid;
    grid-template-columns: repeat(auto-fill, 220px);
    justify-content: center;
    gap: 20px;
}

.brand-img-wrapper,
.offer-img-wrapper{
    width: 220px;
    aspect-ratio: 1/1;
    background-color: #aaaaaa;
}

@media screen and (max-width: 640px) {
    .brand-container {
        margin: 0;
    }

    .brand-container > h3 .title-wrapper {
        padding: 20px 0;
    }

    .brand-container h2 {
        margin: 40px 0 20px 20px;
    }

    .brand-wrapper, .offer-banner {
        justify-content: center;
    }
}



