.brand-sidebar{
    margin: 32px 5px 32px 5px;
    font-size: 10px;
}

.sidebar-opt{
    height: 500px;
}

.membership-opt{
    height: 480px;
    border: 1px solid #000;
    display: flex;
}

.membership-opt button{
    align-self: flex-end;
    margin: 0px 10px 8px auto;
    width: 200px;
    height: 50px;
    border: none;
    background-color: #fffbe4;
    box-shadow: 5px -5px 0 0 #fada27;
    cursor: pointer;
}

.membership-opt button:active{
    box-shadow: 0 0 0 0 #fada27;
    transform: translate(5px, -5px);
}

.brand-container{
    margin: 20px 20px 40px 20px;
}

.brand-container h2{
    font-size: 18px;
    margin: 10px 0 20px 0;
}

.promo-banner{
    margin: 20px 0;
    height: 100px;
    border: 1px solid #000;
}

.brand-wrapper,
.offer-banner{
    display: flex;
    gap: 28px;
    flex-wrap: wrap;
}

.brand-img-wrapper,
.offer-img-wrapper{
    width: 220px;
    height: 220px;
    background-color: #aaaaaa;
}

