main {
  grid-template-columns: 350px auto;
}

.category-container .title-container {
  position: relative;
  height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
  color: #fada27;
  background-color: rgb(91, 160, 198);
}

.category-container .title-container span {
  font-style: italic;
  font-size: 28px;
}

.category-container .title-container img,
.category-container .title-container .banner-icon,
.category-container .title-container svg {
  position: absolute;
}
.category-container .title-container .banner-icon {
  left: -10px;
  width: 120px;
  height: 120px;
  background-color: #fada27;
  border-radius: 50%;
}

.category-container .title-container .banner-icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 166px;
  transform: translate(-50%, -50%);
}

.category-container .title-container svg {
  left: 55px;
}

.category-container .title-container img:nth-of-type(1) {
  right: 0;
}

.best-seller-title {
  display: flex;
  justify-content: space-between;
  margin: 62px 25px 20px 0;
}

.best-seller-title h2 {
  font-size: 18px;
}

.best-seller-section .best-seller {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  margin: 0 20px 20px 0;
  justify-content: space-between;
}

.best-seller-section .best-seller .opt-img-wrapper,
.new-release-opt .opt-img-wrapper{
  position: relative;
  width: 170px;
  border: 5px solid #d8d8d8;
  cursor: pointer;
  user-select: none;
}

.best-seller-section .best-seller .opt-img img,
.new-release-opt .opt-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.best-seller-section .best-seller .opt-img-wrapper:hover,
.new-release-opt .opt-img-wrapper:hover {
  box-shadow: 5px 5px 0 0 #558ad1;
}

.best-seller-section .best-seller .opt-img-wrapper:active,
.new-release-opt .opt-img-wrapper:active {
  transform: translate(5px, 5px);
  box-shadow: 0 0 0 0 #558ad1;
}

.best-seller-section .best-seller .opt-img-wrapper:after,
.new-release-opt .opt-img-wrapper:after {
  content: "";
  position: absolute;
  display: none;
  top: -4px;
  left: -4px;
  width: 100%;
  height: 100%;
  border: 5px solid #316cac;
  background-color: rgba(101, 145, 193, 0.8);
}

.best-seller-section .best-seller .opt-img-wrapper:hover:after,
.new-release-opt .opt-img-wrapper:hover:after {
  display: block;
}

.best-seller-section .best-seller .opt-img-detail,
.new-release-opt .opt-img-detail{
  margin: 5px 0 0 0;
  display: flex;
  justify-content: space-between;
}

.best-seller .opt-img-detail span,
.best-seller .opt-img-detail button,
.new-release-opt .opt-img-detail span, 
.new-release-opt .opt-img-detail button{
  display: block;
  padding: 5px 5px; 
  color: #000;
  text-align: center;
  box-sizing: content-box;
}

.best-seller .opt-img span,
.new-release-opt .opt-img span{
  text-align: right;
}

.best-seller .opt-img-detail button,
.new-release-opt .opt-img-detail button{
  margin: 0 5px 0 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.best-seller .opt-img-detail button .fa-solid{
  font-size: 18px;
}

.best-seller-container .see-more-btn {
  color: #fff;
  background-color: #aaaaaa;
  border: none;
  width: 100%;
  max-width: 1230px;
  height: 32px;
  margin: 0 0 20px 0;
  font-weight: 700;
  cursor: pointer;
}

.new-release-title {
  display: flex;
  justify-content: space-between;
  margin: 0 80px 10px 0;
}

.new-release-title h2 {
  font-size: 20px;
}

.new-release-opt {
  display: flex;
  column-gap: 25px;
  row-gap: 15px;
  flex-wrap: wrap;
  margin: 0 20px 20px 0;
  gap: 32px;
  justify-content: space-between;
}

@media screen and (max-width: 950px) {
  .category-container .title-container span {
    font-size: 20px;
  }
}

@media screen and (max-width: 720px) {
  .category-container .title-container span {
    font-size: 15px;
  }

  .category-container .title-container .banner-icon {
    transform: scale(0.7);
    left: -42px;
  }

  .category-container .title-container svg:nth-of-type(1) {
    left: -25px;
  }
}

@media screen and (max-width: 640px) {
  .main-content {
    grid-template-columns: auto;
  }

  .category-container .title-container {
    width: 95%;
    margin-left: auto;
  }

  .category-container .title-container .banner-icon {
    transform: scale(0.7);
    left: -32px;
  }

  .best-seller-title {
    margin: 35px 0 20px 0;
  }

  .best-seller-section{
    width: 95%;
    margin:0 auto;
  }

  .best-seller-section .best-seller,
  .new-release-opt {
    margin: 0px 0px 20px 0px;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 385px){
  .category-container .title-container {
    height: 35px;
  }

  .category-container .title-container > img:nth-of-type(1) {
    height: 35px;
  }

  .category-container .title-container span {
    font-size: 14px;
}

  .category-container .title-container .banner-icon {
    transform: scale(0.5);
    left: -45px;
  }
}
