.title-container{
    margin: 0 0 50px 0;
    padding: 20px 0px;
    text-align: center;
    font-weight: 700;
    color: #fff;
    background-color: #222;
}

.contact-wrapper{
    margin: 40px auto;
    padding: 0 10px;
    max-width: 1220px;
    display: flex;
    flex-wrap: wrap;
}

.contact-details{
    max-width: 25%;
    padding: 0 10px;
    flex: 0 0 25%;
}

.contact-details h2{
    font-size: 24px;
    margin: 0 0 10px;
}

.contact-details h4{
    font-size: 14px;
    margin: 0 0 5px;
}

.contact-details p{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 1.86;
    font-weight: 400;
    margin: 0 0 20px;
}

.contact-form-wrapper{
    max-width: 75%;
    flex: 0 0 75%;
}

.contact-form-wrapper h3{
    font-size: 18px;
    font-weight: 600;
}

.contact-form-wrapper p{
    margin: 10px 0;
    color: #999;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 18.6px;
    font-weight: 400;
}

#contact-form{
    padding: 40px 30px 50px;
    background-color: #f6f7f9;
}

.input-container{
    display: flex;
    flex-wrap: wrap;
}

.input-wrapper{
    margin: 0 0 40px 0;
    padding: 0 10px;
    width: 100%;
    max-width: 50%;
    flex: 0 0 50%;
}

.input-wrapper:nth-child(5),
.input-wrapper:nth-child(6){
    max-width: 100%;
    flex: 0 0 100%;
}

.input-wrapper input,
.input-wrapper textarea{
    display: block;
    width: 100%;
    min-height: 40px;
    padding: 8.5px 20px;
    border: 1px solid #e3e3e3;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    color: #666;
    background-color: #fff;
    border-radius: 0;
    box-shadow: none;
    outline: 0;
    box-sizing: border-box;
}

.input-wrapper textarea{
    min-height: 10rem;
}

#contact-form #send{
    padding: 8.4px 13.3px;
    font-size: 13px;
    color: #fff;
    border-color: #26b;
    background-color: #26b;
    display: inline-block;
    outline: 0;
    border-radius: 0;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    transition: color 0.3s, border-color 0.3s, background-color 0.3s, box-shadow 0.3s;
    white-space: nowrap;
    cursor: pointer;
}

@media screem and(max-width: 880px){
    .contact-details{
        max-width: 33.3333%;
        flex: 0 0 33.3333%;
    }

    .contact-form-wrapper{
        max-width: 66.6667%;
        flex: 0 0 66.6667%;
    }
}

@media screen and (max-width: 768px){
    .contact-details{
        max-width: 41.6667%;
        flex: 0 0 41.6667%;
    }

    .contact-form-wrapper{
        max-width: 58.3333%;
        flex: 0 0 58.3333%;
    }

    .input-wrapper{
        max-width: 100%;
        flex: 0 0 100%;
    }

    #send{
        margin: 0 10px;
    }
}

@media screen and (max-width: 480px){
    .contact-details{
        max-width: 100%;
        flex: 0 0 100%;
    }

    .contact-form-wrapper{
        max-width: 100%;
        flex: 0 0 100%;
    }

    .input-wrapper{
       padding: 0;
    }

    #send{
        margin: 0;
    }
    
    #contact-form{
        padding: 40px 20px 50px;
    }
}