/*Footer*/
.inp-container{
  margin: 0px 50px 10px 0px;
}

.inp-container *{
  height: 40px;
  margin: 0 5px 0 0;
  border-radius: 5px;
}

.inp-container h4{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  background-image: linear-gradient(to right, #ff3532, #ff8c4b);
  font-size: 12px;
}

.inp-container input{
  width: 250px;
  border: 0.1px solid #cecece;
}

.inp-container button{
  width: 132px;
  height: 35px;
  color: #fff;
  border: none;
  background-color: #ff7816;
  box-shadow: 0px 5px 0px 0px #ff1616;
  cursor: pointer;
  font-size: 10px;
}

.inp-container button:active{
  transform: translate(0, 5px);
  box-shadow: 0px 0px 0px 0px #ff1616;
}

.newsletter-inp,
.track-order-inp{
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  color: #fff;
  margin: 0 0 10px 0;
  height: fit-content;
}

.footer-cover{
  background-image: url("../asset/images/footer-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.usp-section {
  margin: 0 0 20px 0;
}

.usp-section h3 {
  text-align: center;
  margin: 20px 0 15px 0;
}

.footer-logo-container{
  text-align: center;
  margin: 20px 0 20px 0;
}

.usp-section .usp-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.usp-img-container .usp-img-wrapper {
  width: 250px;
  margin: 0 20px 0 0;
}

.usp-img-wrapper img {
  width: 100%;
}

.about-section {
  display: flex;
  justify-content: center;
  width: 45%;
  margin: 20px auto 5px auto;
}

.about-section .about-text {
  max-width: 850px;
  width: 100%;
  font-weight: 100;
  font-size: 12px;
  letter-spacing: 1px;
  text-align: center;
}

.about-section .about-text p{
  margin: 0;
}

footer .footer-nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto 40px auto;
  width: 80%;
}

footer .footer-nav > div {
  margin: 10px 20px 0 20px;
}

footer .footer-nav div:nth-child(3) ul{
  list-style-type: none;
}

footer .footer-nav h3 {
  margin: 0 0 20px 0;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 800;
}


footer .footer-nav ul {
  padding: 0;
}

footer .footer-nav ul a {
  text-decoration: none;
  font-size: 12px;
}

.footer-nav .payment-options ul {
  display: flex;
}

.footer-nav .payment-options ul li {
  margin: 0 20px 0 0;
}

.footer-nav .payment-options ul li a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 50px;
  border: 1px solid #cecece;
  border-radius: 2px;
  overflow: hidden;
  padding: 10px;
}

.footer-nav .payment-options ul li:nth-child(2) a{
  padding: 15px 0 0 5px;
}

.footer-nav .payment-options img{
  width: 100%;
}

.footer-nav .contact > div{
  display: flex;
  margin: 0px;
  gap:10px;
  font-size: 12px;
}
.footer-nav .contact div div,
.footer-nav .contact div ul{
  display: flex;
  flex-direction: column;
}

.footer-nav .contact div div{
  width: 20%;
  text-align: right;
  margin: 0 10px 0 0;
}

.footer-nav .contact div ul{
  width: 70%;
  white-space: nowrap;
}

.footer-nav .contact div div span:nth-child(2){
  margin-bottom: 13px;
}

footer .copyright-section {
  color: #fff;
  background-color: #000;
  padding: 10px 0;
  font-size: 12px;
  font-weight: 700;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1250px){
    .footer-nav .quick-links,
    .footer-nav .policies,
    .footer-nav .payment-options{ 
        width: 25%;
    }

    .about-section .about-logo-container {
        text-align: center;
        margin: 20px;
    }

    .usp-img-container .usp-img-wrapper {
        margin: 10px;
    }
}

@media screen and (max-width: 930px){
    .footer-nav .quick-links,
    .footer-nav .policies,
    .footer-nav .payment-options,
    .footer-nav .contact{ 
        width: 40%;
    }

    .about-section{
        flex-wrap: wrap;
    }

    .about-section .about-logo-container {
        width: 100%;
        flex-wrap: wrap;
    }

    .usp-img-container{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 809px){
    .footer-nav .quick-links,
    .footer-nav .policies,
    .footer-nav .payment-options,
    .footer-nav .contact{ 
        width: 80%;
    }
}

@media screen and (max-width: 734px){
  .inp-container{
    margin: 0 auto;
  }

  .newsletter-inp,
  .track-order-inp{
    margin: 20px 0 0 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
}