.shop-by-purpose-container h3,
.shop-by-categories h3,
.best-selling-product h3,
.new-arrivals-section h3,
.blog-list h3{
  text-align: center;
  margin: 20px 0 15px 0;
}

.shop-by-purpose-container .button-container {
  height: 100px;
  display: flex;
  justify-content: center;
}

.shop-by-purpose-container .button-container button {
  width: 350px;
  height: 50px;
  background-color: #54b3dc;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 12px;
  margin: 0 45px 0 0;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 15px 0 0 #316cac;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.shop-by-purpose-container .button-container button:active {
  box-shadow: 0 0 0 0 #316cac;
  transform: translateY(20px);
}

.shop-by-categories {
  margin: 0 0 40px 0;
}

.shop-by-categories .category-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.shop-by-categories .category-wrapper {
  margin: 0 20px;
}

.shop-by-categories .category-img {
  position: relative;
  width: 120px;
  height: 120px;
  background-color: #fada27;
  border-radius: 50%;
}

.shop-by-categories .category-img img{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150%;
  transform: translate(-50%, -50%);
}

.shop-by-categories .category-wrapper:nth-child(1) .category-img img{
  width: 120%;
  top: 62%;
  left: 49%;
}

.shop-by-categories .category-wrapper:nth-child(3) .category-img img{
  width: 100%;
  top: 64%;
  left: 49%;
}

.shop-by-categories .category-wrapper:nth-child(4) .category-img img{
  top: 40%;
  left: 44%;
}

.shop-by-categories .category-wrapper:nth-child(5) .category-img img{
  top: 47%;
  left: 44%;
}

.shop-by-categories .category-wrapper:nth-child(7) .category-img img{
  top: 47%;
  left: 64%;
}

.shop-by-categories .category-wrapper:nth-child(9) .category-img img{
  top: 57%;
  left: 50%;
}

.shop-by-categories .category-title {
  margin: 20px 0 0 0;
  text-align: center;
  font-size: 11px;
  color: #737373;
  text-transform: uppercase;
}

.client-list-container {
  background-color: #98cdf6;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 40px 0;
  padding: 0 40px;
}

.client-list-container .title-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 50px;
}

.client-list-container .title-container h3 {
  color: #fff;
  font-size: 18px;
}

.client-list-container .client-list {
  width: 100%;
  height: 200px;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
  position: relative;
}

.client-list h4 {
  font-size: 20px;
  font-weight: 700;
  padding: 20px 0 0 0;
  margin: 0;
}

.client-list-container .swiper1 {
  width: 100%;
  height: 70%;
}

.client-list-container .swiper-wrapper {
  width: 80%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.client-img-wrapper {
  flex: 100px 0 0;
}

.client-img-wrapper img {
  width: 100%;
}

.best-selling-product {
  margin: 0 0 40px 0;
}

.blank-img-box {
  width: 250px;
  height: 250px;
  border: 1px solid #000;
  border-radius: 25px;
  background-color: #fff;
}

.best-selling-product .swipper-container,
.blog-list .swipper-container,
.new-arrivals-section .swipper-container{
    width: 95%;
    margin: 0 auto;
    position: relative;
}
  
.swiper2 {
  width: 90%;
  height: 70%;
  overflow: hidden;
  margin: 0 auto;
}

.best-selling-product .swipper-wrapper {
  margin: 0 auto;
  
}

.best-selling-product .swiper-slide {
  width: 185px;
}

.banner-section {
  display: grid;
  grid-template-areas: "banner1 banner2" "banner3 banner3";
  width: 100%;
  row-gap: 15px;
  column-gap: 25px;
  padding: 32px 25px 20px 25px;
}

.banner-section div {
  height: 220px;
}

.banner-section div:nth-child(3) {
  height: 240px;
}

.banner-img-1 {
  grid-area: banner1;
}

.banner-img-2 {
  grid-area: banner2;
}

.banner-img-3 {
  grid-area: banner3;
}

.banner-section img {
  width: 100%;
  height: 100%;
}

.new-arrivals-section {
  margin: 0 0 20px 0;
}

.blog-list {
  margin: 0 0 40px 0;
}

