.mobile-app-banner {
  margin: 0 0 40px 0;
}

.mobile-app-banner .banner-container {
  position: relative;
  margin: 20px 50px;
  aspect-ratio: 9.1/1;
  background: #000 url(./asset/images/bg-2-banner.jpg) no-repeat center;
  background-size: contain;
}

.mobile-app-banner .banner-container h1 {
  color: #fff;
  text-align: left;
  font-size: 2vw;
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.mobile-app-banner .banner-container img:nth-child(2){
  position: absolute;
  right: 8%;
  width: 9vw;
}

.mobile-app-banner .banner-container img:nth-child(3){
  width: 100%;
  display: none;
}

.mobile-app-banner .banner-container:hover img{
    display: block;
}

.mobile-app-banner .banner-container:hover h1,
.mobile-app-banner .banner-container:hover img:nth-child(2){
  display: none;
}

.mobile-app-banner .playstore-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.mobile-app-banner .playstore-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  border: 2px solid #477bb4;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  box-shadow: 0 10px 0px 0px #fddc25;
  user-select: none;
}

.mobile-app-banner .playstore-btn:active {
  transform: translateY(20px);
  box-shadow: 0 0 0px 0px #fddc25;
}

.mobile-app-banner .playstore-btn .icon-container {
  width: 40px;
  height: 40px;
}

.mobile-app-banner .playstore-btn .icon-container svg {
  width: 40px;
}

.mobile-app-banner .playstore-btn .btn-text span {
  display: block;
}

.mobile-app-banner .playstore-btn .btn-text span:nth-child(1) {
  font-size: 12px;
  font-weight: 400;
}

.mobile-app-banner .playstore-btn .btn-text span:nth-child(2) {
  font-size: 20px;
  font-weight: 600;
}

@media screen and (max-width: 768px){
  .mobile-app-banner .banner-container{
    margin: 20px 10px;
  }
}