.main-content .title-banner {
  width: 100%;
  margin: 0 auto 10px auto;
  background: linear-gradient(90deg, rgb(91, 160, 198) 0%, rgb(2, 65, 148) 100%)
    0px 0px / 2369.21px 155.858px;
  text-align: center;
  font-size: 29px;
  font-weight: 700;
  font-style: italic;
  color: rgb(250, 218, 39);
  grid-column: 1/3;
  grid-row: 1/2;
  margin: 0 0 20px 0;
}

.title-banner .title-wrapper {
  position: relative;
  display: inline-block;
  padding: 28px 0;
  height: 100%;
}

.title-banner .title-wrapper img {
  position: absolute;
  top: 0px;
  left: -80px;
}

.service-banner img {
  width: 100%;
  height: 180px;
  object-fit: contain;
}

.service-options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  margin: 20px 0;
}

.service-options .option {
  min-width: 150px;
  width: 170px;
  height: 150px;
  border: 2px solid #000;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.service-options .option:nth-child(1) {
  box-shadow: 7px 7px 0 1px #fada27, 7px 7px 0 2px #000;
}

.service-options .option:nth-child(2) {
  box-shadow: 7px 7px 0 1px #f49f35, 7px 7px 0 2px #000;
}

.service-options .option:nth-child(3) {
  box-shadow: 7px 7px 0 1px #e93b3c, 7px 7px 0 2px #000;
}

.service-options .option:nth-child(4) {
  box-shadow: 7px 7px 0 1px #54b3dc, 7px 7px 0 2px #000;
}

.service-options .option:nth-child(5) {
  box-shadow: 7px 7px 0 1px #316cac, 7px 7px 0 2px #000;
}

.service-options .option:nth-child(6) {
  box-shadow: 7px 7px 0 1px #003f84, 7px 7px 0 2px #000;
}

.service-options .option:nth-child(7) {
  box-shadow: 7px 7px 0 1px #003f84, 7px 7px 0 2px #000;
}

.service-options .option:active {
  box-shadow: 0 0 0 0 #000;
  transform: translate(8px, 8px);
  user-select: none;
}

.service-options .option.active {
  box-shadow: 0 0 0 0 #000;
  transform: translate(8px, 8px);
}

.service-options .option-icon {
  width: 80px;
}

.service-options .option-icon img {
  width: 100%;
}

.service-options h3 {
  font-size: 15px;
  margin: 10px 0 0 0;
}

.service-options .option:nth-child(2) .option-icon {
  width: 120px;
  margin: 0 0 10px 0;
}

.service-options-faq {
  width: 80%;
  margin: 0 auto;
}

.service-options-faq .faq-wrapper {
  display: none;
}

.service-options-faq .faq-wrapper.visible-service {
  display: block;
}

.service-options-faq h2 {
  margin: 32px 0 20px 0;
}

.service-options-faq ul {
  list-style-type: none;
  margin: 20px 0;
  font-size: 15px;
}

.service-options-faq ul li {
  margin: 20px 0;
}

.service-options-faq ul li .faq-question {
  font-weight: bold;
  margin: 10px 0;
}
