.form-container{
    width: 400px;
    margin: 80px auto;
}

.form-container ul{
    display: flex;
}

.form-container ul li{
    width: 200px;
    text-align: center;
    margin: 0 0 20px 0;
    padding: 12px 0px;
    font-weight: bold;
    color: #555;
    border-bottom: 1px solid #cecece;
    cursor: pointer;
}

.form-container ul li a{
    color: #000;
    text-decoration: none;
}

.form-container ul li.active{
    border-bottom: 1px solid blue;
}

.form-container form{
    display: block;
}

.form-container form label:not(label[for="signin-remember"]){
    display: block;
    margin: 0 0 10px 0;
}

.form-container form input:not(input[type="checkbox"]){
    display: block;
    margin: 0 0 20px 0;
    padding: 10px 18px;
    font-size: 20px;
    width: 100%;
    height: 45px;
    outline: none;
}

.form-opt{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    font-size: 12px;
}

.checkbox-wrapper{
    font-size: 12px;
}

.form-opt a{
    text-align: right;
    color: #d26e4b;
    text-decoration: none;
}

.form-opt a:hover{
    text-decoration: underline;
}

.form-container form button{
    margin: 0 0 10px 0;
    width: 100%;
    padding: 15px 0;
    font-weight: bold;
    color: #fff;
    background-color: #2266bb;
    border: none;
    cursor: pointer;
}

@media screen and (max-width:450px){
    .form-container{
        width: 95%;
    }
}